/* Universal Styles */
/* Basic styles for html, body, headings, buttons, images, ... */

html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; /* hide horizontal overflow */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

p,
a,
li {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
}

/* Header */
header {
  border-bottom: 2px solid #dce0d9;
  padding: 1rem 1rem 0rem 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 0.5rem 0;
}

nav li {
  display: block;
}

.headerLogo {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
  align-items: center;
  max-width: 60%;
  padding-top: 0.2rem;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
}

.headerLogo p {
  font-size: 1rem;
}

.lenguageAncors {
  order: 2;
  width: auto;
  height: fit-content;
}

.lenguageAncors ul {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.lenguageAncors ul img {
  width: 2.5rem;
}

.sectionAncors {
  order: 3;
  width: 100%;
  font-weight: 600;
}

.sectionAncors ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionAncors li {
  padding: 1rem 0rem;
}

.sectionAncors a {
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  color: #2a3d45;
}

.sectionAncors a:focus {
  border-bottom: 6px solid #ff7a00;
  color: #ff7a00;
}

.sectionAncors a:focus-visible {
  border-bottom: 6px solid #ff7a00;
  color: #ff7a00;
}

.sectionAncors a:active {
  border-bottom: 6px solid #ff7a00;
  color: #ff7a00;
}

@media only screen and (min-width: 769px) {
  header {
    padding: 0rem 1rem;
    min-height: 5.3125rem;
    display: flex;
    align-content: center;
  }

  nav {
    flex-wrap: nowrap;
    width: 100%;
    gap: none;
  }

  .headerLogo {
    flex-grow: 4;
    max-width: none;
  }

  .sectionAncors {
    order: 3;
    width: auto;
    max-width: 25rem;
    flex-grow: 4;
    padding: 0rem 1.5rem;
    height: 100%;
  }

  .sectionAncors a {
    padding: 1.71875rem 1.5rem;
  }

  .sectionAncors ul {
    /* gap: 3rem; */
    height: 100%;
  }

  .sectionAncors a:hover {
    border-bottom: 6px solid #ff7a00;
    color: #ff7a00;
  }

  .lenguageAncors {
    order: 3;
  }
}

/* Sidebar */
.sidebarPhone {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  width: 5rem;
}

.openContactMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #dce0d9;
  border-radius: 2.5rem;
}

.contactMenuPhone {
  display: none;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #dce0d9;
  border-radius: 2.5rem;
}

.sidebarPhone li {
  display: block;
}

.sideBarControl:hover {
  color: #ff7a00;
}

.sideBarControl:focus {
  color: #ff7a00;
}

.sideBarControl:focus-visible {
  color: #ff7a00;
}

.sideBarControl:active {
  color: #ff7a00;
}

.sidebarPhone a {
  color: #252525;
}

.sidebarPhone a:hover {
  color: #ff7a00;
}

.sidebarPhone a:focus {
  color: #ff7a00;
}

.sidebarPhone a:focus-visible {
  color: #ff7a00;
}

.sidebarPhone a:active {
  color: #ff7a00;
}

.sidebarDesktop {
  display: none;
  position: absolute;
  top: 297px;
  right: 1rem;
  z-index: 10;
  width: 5rem;
}

.contactMenuDesktop {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
}

.sidebarDesktop li {
  display: block;
}

.sidebarDesktop a {
  color: #252525;
}

.sidebarDesktop a:hover {
  color: #ff7a00;
}

.sidebarDesktop a:focus {
  color: #ff7a00;
}

.sidebarDesktop a:focus-visible {
  color: #ff7a00;
}

.sidebarDesktop a:active {
  color: #ff7a00;
}

@media only screen and (min-width: 769px) {
  .sidebarDesktop {
    display: flex;
  }

  .sidebarPhone {
    display: none;
  }
}

/* Main */

/* Footer */
